<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<div class="register-container">
  <div class="logo animate__animated animate__bounceInDown">
    <img src="../../../assets/pics/whiteLogo.png" class="logo">
  </div>
  <div class="card card-container ">
    <h2>Unisciti a noi!</h2>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"
          placeholder="Inserisci la tua email"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          minlength="8"
          maxlength="15"
          [(ngModel)]="password"
          placeholder="Inserisci la tua password"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,15}$"
          required
          minlength="8"
          #passwordInput="ngModel"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
          <div *ngIf="passwordInput.errors?.['required']">
            La password è obbligatoria.
          </div>
          <div *ngIf="passwordInput.errors?.['minlength']">
            La password deve avere almeno 8 caratteri.
          </div>
          <div *ngIf="passwordInput.errors?.['pattern']">
            La password deve contenere una lettera maiuscola una minuscola un numero e un carattere speciale.
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          pattern="[a-zA-Z0-9._\-]+"
          minlength="3"
          maxlength="8"
          placeholder="Inserisci il tuo username"
          required
          #usernameInput="ngModel"
        />
        <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error">
          <div *ngIf="passwordInput.errors?.['required']">
            Lo username è obbligatorio.
          </div>
          <div *ngIf="usernameInput.errors?.['minlength']">
            Lo username deve avere almeno 3 caratteri.
          </div>
          <div *ngIf="usernameInput.errors?.['maxlength']">
            Lo username deve avere massimo 8 caratteri.
          </div>
          <div *ngIf="usernameInput.errors?.['pattern']">
            Lo username può contenere solo lettere, numeri, trattini (-), underscore (_) e punti (.).
          </div>
        </div>
      </div>


      <button type="submit" class="btn" [disabled]="registerForm.invalid">
        Registrati
      </button>
    </form>
    <br>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div class="register-link">
      <p>Hai già un account?
        <a routerLink="/login">Accedi</a>
      </p>
    </div>
  </div>
</div>
</body>
