
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.login-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Logo */
.logo {
  margin-bottom: 20px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

}

.logo.animate__tada {
  animation-name: tada;
}


.card-container {
  background-color:white;
  border-radius:25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
}


.card-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}


.form-group {
  margin-bottom: 20px;
  text-align: left;
}

input[type="email"], input[type="password"] {
  width: 100%;
  border-radius:18px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;

  font-size: 1rem;
}

/* Bottone di login */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius:18px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Messaggio di errore */
.error {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Link per la registrazione */
.register-link {
  margin-top: 20px;
  font-size: 1rem;
}

.register-link a {
  color: #4CAF50;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;

  @media (max-width: 768px) {
    .card-container {
      padding: 20px;
      width: 200%;
    }

    .logo img {
      height: 80px;
      width: auto;
    }

    .card-container h2 {
      font-size: 1.6rem;
    }

    button[type="submit"] {
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    .card-container {
      padding: 15px;
      width: 95%;
    }

    .logo img {
      height: 60px;
      width: auto;
    }

    .card-container h2 {
      font-size: 1.4rem;
    }

    button[type="submit"] {
      font-size: 0.9rem;
    }

    .register-link {
      font-size: 0.9rem;
    }
  }}
