/* Contenitore principale per la componente Login */
.container {
  display: flex;
  justify-content: center; /* Allinea orizzontalmente */
  align-items: center;    /* Allinea verticalmente */
  min-height: 100vh;
  min-width: 60vh;
  background-color: #00664e; /* Colore di sfondo per Login */
  padding: 20px;
}

/* Card della Login */
/* Card più grande */
.card {
  background-color: #f8fcee;
  border: 1px solid #00b88d;
  border-radius: 25px;
  padding: 75px; /* Più spazio interno */
  max-width: 700px; /* Aumentata la larghezza massima */
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* Pulsanti */
button {
  background-color: #00b88d;
  color: #f8fcee;
  border: none;
  border-radius: 18px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 45px;/* Pulsante blocco */
  margin-bottom: 15px; /* Spazio tra i pulsanti */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #00664e;
  transform: scale(1.05);
}

/* Pulsante Registrati */
button.btn-secondary {
  background-color: #00664e; /* Colore arancione per distinguere */
  color: #fff;
}

button.btn-secondary:hover {
  background-color: #004232;
}


/* Intestazioni per la Login */
h2 {
  color: #00664e;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Campi di input nella Login */
input, textarea {
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 18px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #00664e;
  box-shadow: 0 0 5px rgba(0, 102, 78, 0.5);
}


/* Messaggi di errore nella Login */
.alert {
  color: #fff;
  background-color: #e74c3c;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.logo {
  max-width: 100%; /* Adatta l'immagine alla larghezza del contenitore */
  height: auto; /* Mantiene il rapporto di aspetto */
  display: block; /* Evita spazi vuoti intorno all'immagine */
  margin: 0 auto; /* Centra l'immagine */
}
