<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<div *ngIf="isSuccessPopupVisible" class="success-popup">
  <div class="popup-content">
    <span class="close-btn" (click)="isSuccessPopupVisible = false">&times;</span>
  </div>
</div>
<div class="home-container">
  <div class="header">
    <div class="logo-gift-container animate__animated animate__bounceInLeft">
      <img src="../../../assets/pics/pacco.png" alt="Pacchi regalo" class="gift-img"/>
      <img src="../../../assets/pics/whiteLogo.png" alt="Logo" class="logo-img"/>
      <img src="../../../assets/pics/pacco2.png" alt="Pacchi regalo" class="gift-img"/>
    </div>
    <div>
      <div class="profile-settings-container">
        <div class="icon-settings" (click)="openSettingsModal()">
          <img src="../../../assets/pics/impostazioni.png" alt="Impostazioni" class="settings-img"/>
        </div>
        <div class="icon-profile" (click)="openProfileModal()">
          <img src="../../../assets/pics/profile.png" alt="Profilo" class="profile-img"/>
        </div>
      </div>
      <div class="modal-overlay" *ngIf="isSettingsModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeSettingsModal()">&times;</span>
          <h3>Impostazioni</h3>
          <ul>
            <li><a href="">Privacy e Sicurezza</a></li>
            <li><a href="">Informazioni</a></li>
            <li><a href="">Accessibilità</a></li>
            <li><a href="">Lingua</a></li>
          </ul>
        </div>
      </div>
      <div class="modal-overlay" *ngIf="isProfileModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeProfileModal()">&times;</span>
          <h3>Informazioni Profilo</h3>
          <p><strong>Username:</strong> {{ accountInfo?.name }}</p>
          <p><strong>Email:</strong> {{ accountInfo?.email }}</p>
          <button (click)="logout()" class="logout-btn">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content  animate__animated animate__bounceInUp">
    <div class="card card-user-communities">
      <h3>Le tue community:</h3><br>
      <ul *ngIf="communities.length > 0; else noCommunities">
        <li *ngFor="let community of communities">
          <a [routerLink]="['/community', community.id]" class="community-link">
            {{ community.communityName }}
          </a>
        </li>
      </ul>

      <ng-template #noCommunities>
        <p>Non appartieni a nessuna community! Dobbiamo rimediare...</p>
        <br>
        <br>
        <div class="rocket-container">
          <img src="../../../assets/pics/rocket.png" alt="Razzo"
               class="rocket-img animate__animated animate__zoomInLeft">
        </div>
      </ng-template>
    </div>

    <div class="card card-join">
      <h3>Unisciti a una Community</h3>
      <div class="join-text">
        <input
          type="text"
          [(ngModel)]="joinCode"
          placeholder="Inserisci il codice della community"
          pattern="^[a-fA-F0-9]{8}$"
          #joinCodeInput="ngModel"
        />
        <div *ngIf="joinCodeInput.invalid && joinCodeInput.touched" class="error">
          <p *ngIf="joinCodeInput.errors?.['pattern']">Il codice deve contenere esattamente 8 caratteri
            alfanumerici.</p>
        </div>

        <input
          type="text"
          [(ngModel)]="userCommunityName"
          placeholder="Inserisci il tuo nome nella community"
          pattern="[a-zA-Z0-9._\-]+"
          maxlength="8"
          required
          #userCommunityNameInput="ngModel"
        />
        <div *ngIf="userCommunityNameInput.invalid && userCommunityNameInput.touched" class="error">

          <div *ngIf="userCommunityNameInput.errors?.['maxlength']">
            Il nome può contenere massimo 8 caratteri.
          </div>
          <p *ngIf="userCommunityNameInput.errors?.['pattern']">
            Il nome può contenere solo lettere, numeri, trattini (-), underscore (_) e punti (.).
          </p>
        </div>

        <button (click)="joinCommunity()" class="btn btn-primary">
          Unisciti
        </button>
        <div class="globe-container">
          <img src="../../../assets/pics/globe.png" alt="globe" class="globe-img">
        </div>
        <br>
        <br>
        <p class="error" *ngIf="joinErrorMessage">{{ joinErrorMessage }}</p>
      </div>
    </div>

    <div class="card card-create">
      <h3>Crea una nuova Community</h3>

      <input
        type="text"
        [(ngModel)]="newCommunity.communityName"
        placeholder="Nome della community"
        pattern="[a-zA-Z0-9._\-]+"
        #communityNameInput="ngModel"
      />
      <div *ngIf="communityNameInput.invalid && communityNameInput.touched" class="error">
        <p *ngIf="communityNameInput.errors?.['pattern']">
          Il nome può contenere solo lettere, numeri, trattini (-), underscore (_) e punti (.).
        </p>
      </div>

      <textarea
        [(ngModel)]="newCommunity.communityNote"
        placeholder="Descrizione"
        pattern="^[\\w\\s\\.,!?-]*$"
        #communityNoteInput="ngModel"
      ></textarea>
      <div *ngIf="communityNoteInput.invalid && communityNoteInput.touched" class="error">
        <p *ngIf="communityNoteInput.errors?.['pattern']">
          La descrizione può contenere solo lettere, numeri, spazi, e caratteri come .,!?-.
        </p>
      </div>

      <input
        type="number"
        [(ngModel)]="newCommunity.budget"
        placeholder="Budget"
        min="1"
        required
        #budgetInput="ngModel"
      />
      <div *ngIf="budgetInput.invalid && budgetInput.touched" class="error">
        <p *ngIf="budgetInput.errors?.['min']">Il budget deve essere almeno 1.</p>
        <p *ngIf="budgetInput.errors?.['required']">Il budget è obbligatorio.</p>
      </div>

      <input
        type="date"
        [(ngModel)]="newCommunity.deadline"
        placeholder="Deadline"
        required
        #deadlineInput="ngModel"
      />
      <div *ngIf="deadlineInput.invalid && deadlineInput.touched" class="error">
        <p *ngIf="deadlineInput.errors?.['required']">La deadline è obbligatoria.</p>
      </div>

      <input
        type="text"
        [(ngModel)]="newCommunity.userCommunityName"
        placeholder="Inserisci il tuo nome nella community"
        pattern="[a-zA-Z0-9._\-]+"
        #newUserCommunityNameInput="ngModel"
      />
      <div *ngIf="newUserCommunityNameInput.invalid && newUserCommunityNameInput.touched" class="error">
        <p *ngIf="newUserCommunityNameInput.errors?.['pattern']">
          Il nome può contenere solo lettere, numeri, trattini (-), underscore (_) e punti (.).
        </p>
      </div>

      <button (click)="createCommunity()" class="btn btn-success">
        Crea
      </button>
      <br>
      <br>
      <p class="error" *ngIf="createErrorMessage">{{ createErrorMessage }}</p>
      <p class="success" *ngIf="createSuccessMessage">{{ createSuccessMessage }}</p>
    </div>
  </div>
</div>
</body>
