<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<div *ngIf="isSuccessPopupVisible" class="success-popup">
  <div class="popup-content">
    <span class="close-btn" (click)="isSuccessPopupVisible = false">&times;</span>
    <p>{{ successMessage }}</p>
  </div>
</div>
<div class="home-container">
  <div class="header">
    <div class="logo-gift-container animate__animated animate__bounceInLeft">
      <img src="../../../assets/pics/pacco.png" alt="Pacchi regalo" class="gift-img"/>
      <img src="../../../assets/pics/whiteLogo.png" alt="Logo" class="logo-img"/>
      <img src="../../../assets/pics/pacco2.png" alt="Pacchi regalo" class="gift-img"/>
    </div>
    <div>
      <div class="profile-settings-container">
        <div class="icon-settings" (click)="openSettingsModal()">
          <img src="../../../assets/pics/impostazioni.png" alt="Impostazioni" class="settings-img" />
        </div>
        <div class="icon-profile" (click)="openProfileModal()">
          <img src="../../../assets/pics/profile.png" alt="Profilo" class="profile-img" />
        </div>
      </div>
      <div class="modal-overlay" *ngIf="isSettingsModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeSettingsModal()">&times;</span>
          <h3>Impostazioni</h3>
          <p>Qui puoi gestire le impostazioni del tuo account.</p>
        </div>
      </div>
      <div class="modal-overlay" *ngIf="isProfileModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeProfileModal()">&times;</span>
          <h3>Informazioni Profilo</h3>
          <p><strong>Username:</strong> {{ accountInfo?.name }}</p>
          <p><strong>Email:</strong> {{ accountInfo?.email }}</p>
          <button (click)="logout()" class="logout-btn">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content  animate__animated animate__bounceInUp">
    <div class="card card-user-communities">
      <h3>Le tue community:</h3><br>
      <ul *ngIf="communities.length > 0; else noCommunities">
        <li *ngFor="let community of communities">
          <a [routerLink]="['/community', community.id]" class="community-link">
            {{ community.communityName }}
          </a>
        </li>
      </ul>

      <ng-template #noCommunities>
        <p>Non appartieni a nessuna community! Dobbiamo rimediare...</p>
        <br>
        <br>
        <div class="rocket-container">
          <img src="../../../assets/pics/rocket.png" alt="Razzo" class="rocket-img animate__animated animate__zoomInLeft">
        </div>
      </ng-template>
    </div>

    <div class="card card-join">
      <h3>Unisciti a una Community</h3>
      <div  class="join-text">
        <input
          type="text"
          [(ngModel)]="joinCode"
          placeholder="Inserisci il codice della community"
        />
        <button (click)="joinCommunity()" class="btn btn-primary">
          Unisciti
        </button>
        <div class="globe-container">
          <img src="../../../assets/pics/globe.png" alt="globe" class="globe-img">
        </div>
        <p class="error" *ngIf="joinErrorMessage">{{ joinErrorMessage }}</p>
      </div>

    </div>


    <div class="card card-create">
      <h3>Crea una nuova Community</h3>

      <input
        type="text"
        [(ngModel)]="newCommunity.communityName"
        placeholder="Nome della community"
      />
      <textarea
        [(ngModel)]="newCommunity.communityNote"
        placeholder="Descrizione"></textarea>
      <input
        type="number"
        [(ngModel)]="newCommunity.budget"
        placeholder="Budget"
        min="1"
      />
      <input
        type="date"
        [(ngModel)]="newCommunity.deadline"
        placeholder="Deadline"
      />
      <button (click)="createCommunity()" class="btn btn-success">
        Crea
      </button>
      <p class="error" *ngIf="joinErrorMessage">{{ joinErrorMessage }}</p>
    </div>
  </div>
</div>


</body>

