<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<div class="home-container">
  <div class="header">
    <div class="logo-gift-container animate__animated animate__bounceInLeft">
      <img src="../../../assets/pics/pacco.png" alt="Pacchi regalo" class="gift-img"/>
      <img src="../../../assets/pics/whiteLogo.png" alt="Logo" class="logo-img"/>
      <img src="../../../assets/pics/pacco2.png" alt="Pacchi regalo" class="gift-img"/>
    </div>
    <div>
      <div class="profile-settings">
        <img src="../../../assets/pics/impostazioni.png" alt="Impostazioni" class="Impostazioni">
      </div>
      <div class="profile-info" (click)="toggleDropdown()">
        <img src="../../../assets/pics/profile.png" alt="Profilo" class="profile-img"/>
        <h3>{{ accountInfo?.name }}</h3>
        <ul class="dropdown-menu" *ngIf="isDropdownOpen">
          <li>Profilo: {{ accountInfo?.email }}</li>
          <li>
            <button (click)="loadAccountInfo()">Account</button>
          </li>
          <li>
            <button (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="card card-user-communities">
      <h3>Le tue community:</h3>
      <ul *ngIf="communities.length > 0; else noCommunities">
        <li *ngFor="let community of communities">
          {{ community.communityName }}
        </li>
      </ul>
      <ng-template #noCommunities>
        <p>Non appartieni a nessuna community! Dobbiamo rimediare...</p>
      </ng-template>
    </div>

    <div class="card card-join">
      <h3>Unisciti a una Community</h3>
      <br/>
      <input
        type="text"
        [(ngModel)]="joinCode"
        placeholder="Inserisci il codice della community"
      />
      <button (click)="joinCommunity()" class="btn btn-primary">
        Unisciti
      </button>
      <p class="error" *ngIf="joinErrorMessage">{{ joinErrorMessage }}</p>
    </div>


    <div class="card card-create">
      <h3>Crea una nuova Community</h3>
      <br/>
      <input
        type="text"
        [(ngModel)]="newCommunity.communityName"
        placeholder="Nome della community"
      />
      <textarea
        [(ngModel)]="newCommunity.communityNote"
        placeholder="Descrizione"></textarea>
      <input
        type="number"
        [(ngModel)]="newCommunity.budget"
        placeholder="Budget"
      />
      <input
        type="date"
        [(ngModel)]="newCommunity.deadline"
        placeholder="Deadline"
      />
      <button (click)="createCommunity()" class="btn btn-success">
        Crea
      </button>
      <p class="error" *ngIf="joinErrorMessage">{{ joinErrorMessage }}</p>
    </div>
  </div>
</div>
</body>

