* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #00664e;
  color: #f8fcee;
  padding: 1rem;
  gap: 1rem;
}

.community-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #00664e;
  color: #f8fcee;
  padding: 1rem;
  gap: 1rem;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.logo-gift-container {
  display: flex;
  align-items: center;
  gap: 0rem;
}

.logo-img {
  height: 7rem;

}

.gift-img {
  height: 5rem;
}

.profile-settings {
  display: flex;
  align-items: center;
  gap: 0rem;
}

.profile-settings img {
  height: 2rem;
  cursor: pointer;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card-participants p {
  font-size: 1.1rem;
}

.participant-link {
  font-size: 1.1rem;
  text-decoration: none; /* Rimuove la sottolineatura */
  color: #00664e; /* Colore del testo */
  font-weight: bold; /* Testo in grassetto */
  transition: color 0.3s ease; /* Animazione colore */
}

.participant-link:hover {
  color: #00b88d; /* Cambia colore al passaggio del mouse */
}

.profile-settings-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-settings img {
  height: 2rem;
  cursor: pointer;
}

.icon-profile img {
  height: 2.5rem;
  cursor: pointer;
}

.icon-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.rocket-container {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.rocket-img {
  max-height: 15rem;
  width: auto;
  height: auto;
}

.back-btn {
  font-size: 1.2rem;
  width: 15%;
  background: #00b88d;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.back-btn:hover {
  background: #008a69;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal-window {
  line-height: 1.8;
  font-family: 'Afacad Flux', serif;
  color: #696969;
  background: #f8fcee;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 19rem;
  height: 15rem;
  text-align: center;
  position: relative;
}


.modal-window button {
  font-size: 1rem;
  margin: 1rem;
  padding: 16px 24px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.modal-window h3 {
  margin-bottom: 1rem;
}

.modal-window p {
  margin: 0.5rem 0;
}
.logout-btn {
  background: #dc3545;
  color: white;
}

.logout-btn:hover {
  background: #c82333;
}

ul {
  list-style: none; /* Rimuove i puntini */
  padding: 0;
}

li {
  color: black;
  /*list-style: none;*/
}

.community-link {
  font-size: 1.1rem;
  text-decoration: none; /* Rimuove la sottolineatura */
  color: #00664e; /* Colore del testo */
  font-weight: bold; /* Testo in grassetto */
  transition: color 0.3s ease; /* Animazione colore */
}

.community-link:hover {
  color: #00b88d; /* Cambia colore al passaggio del mouse */
}


.profile-info {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}



.card {
  justify-content: center;
  font-family: 'Afacad Flux', serif;
  background-color: #f8fcee;
  color: #00664e;
  border-radius: 25px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  padding-left: 2.4rem;
  padding-right: 2.2rem;
  padding-top: 1.7rem;
  padding-bottom: 2rem;
  flex: 1 1 calc(33.33% - 2rem);
  max-width: 400px;
  min-width: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  gap: 1rem;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}


.card input,
.card textarea {
  font-family: 'Afacad Flux', serif;
  font-size: 1.1rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #f8fcee;
  border-radius: 15px;
  background: #f8fcee;

}

.card input:focus,
.card textarea:focus {
  outline: none;
  border-color: #00b88d;
  box-shadow: 0 0 5px rgba(0, 184, 141, 0.5);
}

.card input::placeholder {
  opacity: 1;
}


.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.card button {
  font-size: 1.2rem;
  width: 100%;
  background: #00b88d;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card button:hover {
  background: #008a69;
}

.Impostazioni {
  height: 1rem;
}

.profile-img {
  height: 2.5rem;
}

.add-wish-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 1rem;
}

.button-grid {
  position: relative;
  width: 6rem;
  height: 6rem;
  background: #00b88d;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button-grid img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.button-grid.selected {
  background-color: white;
  transform: scale(1.05);
  border-color: #00b88d;
}


.card-my-community {

}

.card-my-wishlist {

}

.card-participants {

}


.wish-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.wish-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.wish-name {
  font-size: 2rem;
  flex-grow: 1;
}

.remove-wish-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}




@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .main-content {
    flex-direction: column;
    gap: 1.5rem;
  }

  .rocket-img {
    max-height: 9rem;
    width: auto;
    height: auto;
  }

  .card {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .logo-gift-container img {
    height: 3.5rem;
  }

  .profile-img{
    height: 1rem;
  }

  .Impostazioni{
    height: 1rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .row .card {
    flex: 1 1 calc(50% - 1rem); /* Ogni card occupa il 50% della riga meno il gap */
    max-width: calc(50% - 1rem);
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
  }

  .logo-img {
    height: 8rem;
  }

  .row .card {
    flex: 1 1 100%; /* Su dispositivi piccoli, le card occupano l'intera larghezza */
    max-width: 100%;
  }
}

