* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

.community-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #00664e;
  color: #f8fcee;
  padding: 1rem;
  gap: 1rem;
}

.planet-container {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-img {
  max-height: 9rem;
  width: auto;
  height: auto;
}

.astro-container {
  margin-top: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astro-img {
  max-height: 14rem;
  width: auto;
  height: auto;
}

.header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.logo-gift-container {
  display: flex;
  align-items: center;
  gap: 0rem;
}

.logo-img {
  height: 9rem;
}

.gift-img {
  height: 6.5rem;
}

.profile-settings {
  display: flex;
  align-items: center;
  gap: 0rem;
}

.profile-settings img {
  height: 2rem;
  cursor: pointer;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.main-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0rem;
  gap: 2.7rem;
  justify-content: center;
}

.rocket-container {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 0rem;
}

.final-btn button {
font-weight: bold;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: #00b88d;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);
}

.final-btn button:hover {
  background-color: #008a69;
  transform: scale(1.05);
}

.final-btn button:disabled {
  cursor: not-allowed;
  color: #f8fcee;
  background-color: #008a69;
  transform: scale(1.05);
}

.profile-settings-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-settings img {
  height: 1.5rem;
  cursor: pointer;
}

.icon-profile img {
  height: 2.5rem;
  cursor: pointer;
}

.icon-profile {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.2rem 0.5rem;
  background: #00b88d;
  border-radius: 40%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);
}

.add-wish-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.1rem;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0;

}

.button-grid {
  width: 6rem;
  height: 6rem;
  background: #f8fcee;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 30px;
  text-align: center;

}

.button-grid img {
  max-width: 4rem;
  max-height: 4rem;
  object-fit: cover;
}

.button-grid.selected {
  background-color: #00b88d;
  transform: scale(1.05);
  border: 2px solid #00b88d;
  color: #f8fcee;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.15);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wish-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.625rem;
}

.wish-category-img {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: cover;
  border-radius: 50%;
}

.wish-conteiner p {
  margin: 0;
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
}

.modal-wish-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-wish-window {
  text-align: center;
  line-height: 1.8;
  font-family: 'Afacad Flux', serif;
  color: #696969;
  background: #f8fcee;
  padding: 3rem;
  border-radius: 50px;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);
  width: 35rem;
  height: 40rem;
  text-align: center;
  position: relative;
}


.modal-wish-window button {
  font-size: 1.1rem;
  margin: 1rem;
  padding: 16px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);
}

.modal-wish-window h3 {
  font-size: 1.3rem;
  color: #00664e;
  margin-bottom: 1rem;
}

.modal-wish-window p {

  margin-bottom: 1rem;
}

.modal-wish-overlay input[type="text"] {
  text-align: center;
  font-family: 'Afacad Flux', serif;
  font-size: 1.2rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
border: none;
  border-radius: 25px;
  background: #f8fcee;
  color: #00664e;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-wish-overlay input[type="text"]:focus {
  outline: none;
  border-color: #00b88d;
  box-shadow: 0 0 5px rgba(0, 184, 141, 0.5);
}

.modal-wish-overlay input[type="text"]::placeholder {
  color: #a1a1a1;
  opacity: 1;
}

.message-container {
  margin-top: 0.4rem;
  text-align: center;
}

.message-container .error {
  color: red;
  font-weight: bold;
}

.message-container .success {
  color: #00664e;
  font-weight: bold;
}

.wish-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.wish-image {
  width: 3rem;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.wish-name {
  font-size: 2rem;
  flex-grow: 1;
}

.remove-wish-btn {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  padding: 0 !important;
  color: #003f35 !important;
  align-self: revert;
  font-size: 1.2rem !important;
  text-align: right !important;
  box-shadow: none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  color: #696969;
  background: transparent;
  border: none;
}

.modal-window {
  line-height: 1.8;
  font-family: 'Afacad Flux', serif;
  color: #696969;
  background: #f8fcee;
  padding: 3rem;
  border-radius: 50px;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.35);
  width: 25rem;
  height: 19rem;
  text-align: center;
  position: relative;
  max-height: 80vh;
  overflow: hidden;
}

.modal-window button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 16px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);
}

.modal-window h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.modal-window p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.modal-whisList-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window a{
  color: #00b88d;
  font-size: 1.1rem;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.modal-whisList-window {
  line-height: 1.8;
  font-family: 'Afacad Flux', serif;
  color: #696969;
  background: #f8fcee;
  padding: 3rem;
  border-radius: 50px;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);
  width: 23rem;
  height: auto;
  text-align: center;
  position: relative;
  max-height: 80vh;
  overflow: hidden;
}


.wishlist-container {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 10px;
  margin-top: 1rem;
}

.logout-btn {
  font-weight: bold;
  background: #dc3545;
  color: white;
}

.logout-btn:hover {
  background: #c82333;
}

.btn-success {
  font-weight: bold;
  font-size: 1.1rem;
  background: #00b88d;
  color: white;
  border: none;
  width: 80%;
  border-radius: 25px;
  cursor: pointer;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);

}

.btn-success:hover {
  background: #008a69;
  transform: scale(1.05);
}

.card {
  justify-content: center;
  margin-bottom: 0.5rem;
  font-family: 'Afacad Flux', serif;
  background-color: #f8fcee;
  color: #00664e;
  border-radius: 50px;
text-align: center;
  padding: 1.7rem 2.4rem 2rem;
  flex: 1 1 calc(33.33% - 2rem);
  max-width: 400px;
  min-width: 370px;
  min-height: 10rem;
  max-height: 38rem;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  gap: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.card input,
.card textarea {
  font-family: 'Afacad Flux', serif;
  font-size: 1.1rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #f8fcee;
  border-radius: 15px;
  background: #f8fcee;
}

.card input:focus,
.card textarea:focus {
  outline: none;
  border-color: #00b88d;
  box-shadow: 0 0 5px rgba(0, 184, 141, 0.5);
}

.card button {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  background: #00b88d;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);
}

.card button:hover {
  background: #008a69;
}

.remove-icon {
  width: 1rem;
  cursor: pointer;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.card a {
  color: #00664e;
  font-size: 1.2rem;
  line-height: 1.5;
}

.modal-confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-confirm-window {
  padding: 3rem;
  font-family: 'Afacad Flux', serif;
  color: #00664e;
  background-color: #f8fcee;
  height: 18rem !important;
  width: 20rem !important;

  border-radius: 50px;
  text-align: center;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.35);
}

.modal-confirm-window p {
  font-weight: bold;
  font-size: 1.1rem;
}

.confirmation-buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin-top: 20px;
}

.confirmation-buttons .btn {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow:
    inset 0px -10px 15px rgba(0, 0, 0, 0.2);
}

.confirmation-buttons .btn-success {
  background-color: #00b88d;
  color: white;
  border: none;
}

.confirmation-buttons .btn-secondary {
  background-color: #c82333;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .main-content {
    flex-direction: column;
    gap: 1.5rem;
  }

  .rocket-img {
    max-height: 9rem;
    width: auto;
    height: auto;
  }

  .card {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .logo-gift-container img {
    height: 3.5rem;
  }

  .profile-img {
    height: 1rem;
  }

  .Impostazioni {
    height: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
  }

  .logo-img {
    height: 8rem;
  }
}
