<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<div *ngIf="isSuccessPopupVisible" class="success-popup">
  <div class="popup-content">
    <span class="close-btn" (click)="isSuccessPopupVisible = false">&times;</span>
  </div>
</div>
<div class="community-container">
  <div class="header">
    <div class="logo-gift-container animate__animated animate__bounceInLeft">
      <img src="../../../assets/pics/logo.png" alt="Logo" class="logo-img"/>

    </div>
    <div>
      <div class="profile-settings-container">
        <div class="icon-profile" (click)="openSettingsModal()">
          <img src="../../../assets/pics/set.png" alt="Impostazioni" class="settings-img"/>
        </div>
        <div class="icon-profile" (click)="openProfileModal()">
          <img src="../../../assets/pics/profilo.png" alt="Profilo" class="profile-img"/>
        </div>
      </div>
      <div class="modal-overlay" *ngIf="isSettingsModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeSettingsModal()">&times;</span>
          <h3>Impostazioni</h3>
          <ul>
            <li><a (click)="onSettingsLinkClick($event)">Privacy e Sicurezza</a></li>
            <li><a (click)="onSettingsLinkClick($event)">Informazioni</a></li>
            <li><a (click)="onSettingsLinkClick($event)">Accessibilità</a></li>
            <li><a (click)="onSettingsLinkClick($event)">Lingua</a></li>
          </ul>
        </div>
      </div>
      <div class="modal-overlay" *ngIf="isProfileModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeProfileModal()">&times;</span>
          <h3>Informazioni Profilo</h3>
          <p><strong>Username:</strong> {{ accountInfo?.name }}</p>
          <p><strong>Email:</strong> {{ accountInfo?.email }}</p>
          <button (click)="logout()" class="logout-btn">Logout</button>
        </div>
      </div>
    </div>
  </div>


  <div class="main-content animate__animated animate__bounceInUp">
    <div class="row">
      <div class="card card-my-community ">
        <h3>{{ communityInfo?.communityName }}</h3>
        <p><strong>Codice d'accesso:</strong> {{ communityInfo?.accessCode }}</p>
        <p><strong>Descrizione:</strong> {{ communityInfo?.communityNote }}</p>
        <p><strong>Budget:</strong> {{ communityInfo?.budget }}</p>
        <p><strong>Deadline:</strong> {{ communityInfo?.deadline }}</p>
        <div class="planet-container">
          <img src="../../../assets/pics/planet.png" alt="Pianeta"
               class="planet-img animate__animated animate__zoomInLeft">
        </div>
      </div>
      <br>
      <div class="card card-extracted-name">
        <h3>Il mio nome estratto</h3>
        <p *ngIf="communityInfo?.close; else communityStillOpen">
          {{ drawnName }} </p>
        <ng-template #communityStillOpen>
          <p>La community è ancora aperta!</p>
        </ng-template>
      </div>

    </div>


    <div class="card card-my-wishlist">
      <h3>La mia wishlist</h3>
      <ul *ngIf="myWishList && myWishList?.wishes.length > 0; else noWishes">
        <div class="wishlist-container">
          <li *ngFor="let wish of myWishList.wishes">
            <div class="wish-conteiner"><p>
              <img *ngIf="getCategoryImage(wish.category)"
                   [src]="getCategoryImage(wish.category)"
                   alt="{{ wish.category }}"
                   class="wish-category-img"/>{{ wish.name }}
            </p>
              <button class="remove-wish-btn" (click)="deleteWish(wish.id)">
                <img src="../../../assets/pics/remove.png" alt="Remove" class="remove-icon">
              </button>
            </div>

          </li>
        </div>
      </ul>
      <br>

      <ng-template #noWishes>
        <p>La lista dei desideri è ancora vuota...idee?</p>
      </ng-template>
      <div class="add-wish-container">
        <button (click)="openNewWishForm()">Aggiungi</button>
      </div>
      <br>

    </div>


    <div class="card card-participants">
      <div class="participants-name">
        <h3>Partecipanti</h3>

        <ul *ngIf="filteredParticipants.length > 0; else noOtherParticipants">
          <li *ngFor="let accountName of filteredParticipants"
              (click)="viewParticipantWishlist(accountName.userCommunityName)">
            <div class="wish-conteiner">
              <p>{{ accountName.userCommunityName }}</p>
              <button *ngIf="userRole === 'ADMIN' && !communityInfo.close"
                      class="remove-wish-btn"
                      (click)="deleteUser(accountName.userCommunityName); $event.stopPropagation()">
                <img src="../../../assets/pics/remove.png" alt="Remove" class="remove-icon">
              </button>
            </div>
          </li>
        </ul>
        <div *ngIf="filteredParticipants.length <= 5" class="astro-container">
          <img src="../../../assets/pics/astro.png" alt="astro"
               class="astro-img animate__animated animate__zoomInLeft">
        </div>

        <ng-template #noOtherParticipants>
          <p>C'è troppo silenzio qui... non c'è ancora nessuno oltre te!</p>
        </ng-template>

      </div>

      <div class="message-container">
        <p class="error" *ngIf="errorRemoveUserMessage">{{ createErrorMessage }}</p>
        <p class="success" *ngIf="successRemoveUserMessage">{{ createSuccessMessage }}</p>
      </div>
    </div>

  </div>
  <div class="final-btn animate__animated animate__bounceInUp">
    <button (click)="goBack()">Torna alla home</button>
    <button *ngIf="userRole === 'ADMIN' && !communityInfo.close "
            (click)="openConfirmationPopup()"
            [disabled]="!isEvenNumberOfParticipants">
      Chiudi la community
    </button>
    <button *ngIf="userRole === 'ADMIN'"
            [disabled]="communityInfo?.close"
            (click)="openDeleteModal()">Elimina community
    </button>
    <button *ngIf="userRole === 'MEMBER'" [disabled]="communityInfo?.close"
            (click)="removeUserFromCommunity(userCommunityName)">Abbandona la community
    </button>
  </div>
</div>




<div class="modal-wish-overlay" *ngIf="isNewWishFormOpen">
  <div class="modal-wish-window">
    <span class="close-btn" (click)="closeNewWishForm()">&times;</span>
    <h3>Aggiungi un desiderio</h3>
    <div class="new-wish">
      <input
        type="text"
        [(ngModel)]="newWish.name"
        placeholder="Inserisci desiderio"
        pattern="[a-zA-Z0-9._\-]+"
        #wishNameInput="ngModel"
      />
      <div *ngIf="wishNameInput.invalid && wishNameInput.touched" class="error">
        <p *ngIf="wishNameInput.errors?.['pattern']">
          Il nome può contenere solo lettere, numeri, trattini (-), underscore (_) e punti (.).
        </p>
      </div>

      <h3>Seleziona una categoria</h3>
      <div class="image-grid">
        <button
          type="button" class="button-grid"
          *ngFor="let category of [
            { key: 'KITCHEN', img: '../../../assets/pics/kitchen-pic.png'  },
            { key: 'CARE', img: '../../../assets/pics/care-pic.png'},
            { key: 'GYM', img: '../../../assets/pics/gym-pic.png' },
            { key: 'READING', img: '../../../assets/pics/book-pic.png' },
            { key: 'CINEMA', img: '../../../assets/pics/cinema-pic.png' },
            { key: 'CLOTHES', img: '../../../assets/pics/hat-pic.png' },
            { key: 'IT', img: '../../../assets/pics/laptop-pic.png' },
            { key: 'OTHER', img: '../../../assets/pics/other-pic.png' }
          ]"
          [class]="'category-' + category.key.toLowerCase()"
          [class.selected]="newWish.category === category.key"
          (click)="newWish.category = category.key"
        >
          <img [src]="category.img" [alt]="category.key"/>
        </button>
      </div>

      <button (click)="addWish()" class="btn btn-success">
        Aggiungi desiderio
      </button>

      <div class="message-container">
        <p class="error" *ngIf="createErrorMessage">{{ createErrorMessage }}</p>
        <p class="success" *ngIf="createSuccessMessage">{{ createSuccessMessage }}</p>
      </div>
    </div>
  </div>
</div>

<div class="modal-whisList-overlay" *ngIf="isWishListModalOpen ">
  <div class="modal-whisList-window">
    <span class="close-btn" (click)="closeWishListModal()">&times;</span>
    <h3>Wishlist:</h3>

    <div *ngIf="userWishList && userWishList.wishes.length > 0; else noWishes" class="wishlist-container">
      <ul>
        <li *ngFor="let wish of userWishList.wishes">
          <div class="wish-conteiner">
            <p>
              <img *ngIf="getCategoryImage(wish.category)"
                   [src]="getCategoryImage(wish.category)"
                   alt="{{ wish.category }}"
                   class="wish-category-img"/>
              {{ wish.name }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noWishes>
      <p>L'utente non ha ancora aggiunto desideri alla sua wishlist.</p>
    </ng-template>
  </div>
</div>

<div class="modal-confirm-overlay" *ngIf="isConfirmationPopupOpen">
  <div class="modal-confirm-window">
    <h3>Conferma chiusura community</h3>
    <p>Sei sicuro di voler chiudere la community? Questa azione è irreversibile.</p>
    <div class="confirmation-buttons">
      <button (click)="confirmCloseCommunity()" class="btn btn-success">Conferma</button>
      <button (click)="closeConfirmationPopup()" class="btn btn-secondary">Annulla</button>
    </div>
  </div>
</div>
<div *ngIf="isDeleteConfirmPopupVisible" class="modal-confirm-overlay">
  <div class="modal-confirm-window">
    <p>Sei sicuro di voler eliminare questa community?</p>
    <div class="confirmation-buttons">
      <button (click)="confirmDeleteCommunity()" class="btn btn-success">Sì, elimina</button>
      <button (click)="cancelDelete()" class="btn btn-secondary">Annulla</button>
    </div>
  </div>
</div>

<div *ngIf="isDeleteUserConfirmPopupVisible" class="modal-confirm-overlay">
  <div class="modal-confirm-window">
    <p>Sei sicuro di voler rimuovere {{ userToDelete }} dalla community?</p>
    <div class="confirmation-buttons">
      <button (click)="confirmDeleteUser()" class="btn btn-success">Sì, elimina</button>
      <button (click)="cancelDeleteUser()" class="btn btn-secondary">Annulla</button>
    </div>
  </div>
</div>

</body>

