<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<div *ngIf="isSuccessPopupVisible" class="success-popup">
  <div class="popup-content">
    <span class="close-btn" (click)="isSuccessPopupVisible = false">&times;</span>
  </div>
</div>
<div class="community-container">
  <div class="header">
    <div class="logo-gift-container animate__animated animate__bounceInLeft">
      <img src="../../../assets/pics/pacco.png" alt="Pacchi regalo" class="gift-img"/>
      <img src="../../../assets/pics/whiteLogo.png" alt="Logo" class="logo-img"/>
      <img src="../../../assets/pics/pacco2.png" alt="Pacchi regalo" class="gift-img"/>
    </div>
    <div>
      <div class="profile-settings-container">
        <div class="icon-settings" (click)="openSettingsModal()">
          <img src="../../../assets/pics/impostazioni.png" alt="Impostazioni" class="settings-img"/>
        </div>
        <div class="icon-profile" (click)="openProfileModal()">
          <img src="../../../assets/pics/profile.png" alt="Profilo" class="profile-img"/>
        </div>
      </div>
      <div class="modal-overlay" *ngIf="isSettingsModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeSettingsModal()">&times;</span>
          <h3>Impostazioni</h3>
          <ul>
            <li><a href="">Privacy e Sicurezza</a></li>
            <li><a href="">Informazioni</a></li>
            <li><a href="">Accessibilità</a></li>
            <li><a href="">Lingua</a></li>
          </ul>
        </div>
      </div>
      <div class="modal-overlay" *ngIf="isProfileModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeProfileModal()">&times;</span>
          <h3>Informazioni Profilo</h3>
          <p><strong>Username:</strong> {{ accountInfo?.name }}</p>
          <p><strong>Email:</strong> {{ accountInfo?.email }}</p>
          <button (click)="logout()" class="logout-btn">Logout</button>
        </div>
      </div>
    </div>
  </div>


  <div class="main-content">
    <div class="row">
      <div class="card card-my-community">
        <h3>{{ communityInfo?.communityName }}</h3>
        <br>
        <p><strong>Codice d'accesso:</strong> {{ communityInfo?.accessCode }}</p>
        <p><strong>Descrizione:</strong> {{ communityInfo?.communityNote }}</p>
        <p><strong>Budget:</strong> {{ communityInfo?.budget }}</p>
        <p><strong>Deadline:</strong> {{ communityInfo?.deadline }}</p>
      </div>

      <div class="card card-extracted-name">
        <h3>Il mio nome estratto</h3>
        <br>
        <p *ngIf="communityInfo?.close; else communityStillOpen">
          {{ drawnName }} </p>

        <ng-template #communityStillOpen>
          <br>
          <p>La community è ancora aperta!</p>
          <br>
        </ng-template>
      </div>
    </div>

    <div class="card card-my-wishlist">
      <h3>La mia wishlist</h3>
      <ul *ngIf="myWishList?.wishes.length > 0; else noWishes">
        <li *ngFor="let wish of myWishList.wishes">
          <div class="wish-content">
            <span class="wish-img">{{ wish?.category }}</span>
            <span class="wish-name">{{ wish?.name }}</span>
            <button class="remove-wish-btn" (click)="deleteWish(wish.id)">
              <img src="../../../assets/pics/remove.png" alt="Elimina" class="remove-img">
            </button>
          </div>
        </li>
      </ul>
      <ng-template #noWishes>
        <br>
        <p>La lista dei desideri è ancora vuota...idee?</p>
      </ng-template>
      <div class="add-wish-container">
        <button (click)="openNewWishForm()">Aggiungi</button>
      </div>

    </div>

    <div class="modal-wish-overlay" *ngIf="isNewWishFormOpen">
      <div class="modal-wish-window">
        <span class="close-btn" (click)="closeNewWishForm()">&times;</span>
        <h3>Aggiungi un desiderio</h3>
        <div class="new-wish">
          <input
            type="text"
            [(ngModel)]="newWish.name"
            placeholder="Nome del desiderio"
            pattern="[a-zA-Z0-9._\-]+"
            #wishNameInput="ngModel"
          />
          <div *ngIf="wishNameInput.invalid && wishNameInput.touched" class="error">
            <p *ngIf="wishNameInput.errors?.['pattern']">
              Il nome può contenere solo lettere, numeri, trattini (-), underscore (_) e punti (.).
            </p>
          </div>

          <h3>Seleziona una categoria</h3>
          <div class="image-grid">
            <button
              type="button" class="button-grid"
              *ngFor="let category of [
      { key: 'KITCHEN', img: '../../../assets/pics/kitchen-pic.png' },
      { key: 'CARE', img: '../../../assets/pics/care-pic.png' },
      { key: 'GYM', img: '../../../assets/pics/gym-pic.png' },
      { key: 'READING', img: '../../../assets/pics/book-pic.png' },
      { key: 'CINEMA', img: '../../../assets/pics/cinema-pic.png' },
      { key: 'CLOTHES', img: '../../../assets/pics/hat-pic.png' },
      { key: 'IT', img: '../../../assets/pics/laptop-pic.png' },
      { key: 'OTHER', img: '../../../assets/pics/other-pic.png' }
    ]"
              [class]="'category-' + category.key.toLowerCase()"
              [class.selected]="newWish?.category === category.key"
              (click)="newWish.category = category.key"
            >
              <img [src]="category.img" [alt]="category.key"/>
            </button>
          </div>

          <button (click)="addWish()" class="btn btn-success">
            Aggiungi desiderio
          </button>
          <br>
          <br>
          <p class="error" *ngIf="createErrorMessage">{{ createErrorMessage }}</p>
          <p class="success" *ngIf="createSuccessMessage">{{ createSuccessMessage }}</p>
        </div>
      </div>
    </div>

    <div class="card card-participants">
      <div class="participants-name" (click)="openWishListModal()">
        <h3>Partecipanti</h3>
        <br>
        <ul *ngIf="communityInfo?.communityNames?.length > 0; else noParticipants">
          <li *ngFor="let accountName of communityInfo.communityNames">
            <p>{{ accountName.userCommunityName }}</p>
          </li>
        </ul>

        <!--        <div class="remove-user-btn" *ngIf="userRole === 'ADMIN'" (click)="removeUserFromCommunity()">-->
        <!--          <img src="../../../assets/pics/remove.png" alt="Rimuovi" class="remove-img">-->
        <!--          <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>-->
        <!--          <p *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</p>-->
        <!--        </div>-->

        <ng-template #noParticipants>
          <p>C'è troppo silenzio qui... non c'è ancora nessuno!</p>
          <br>
          <br>
          <div class="rocket-container">
            <img src="../../../assets/pics/rocket.png" alt="Razzo"
                 class="rocket-img animate__animated animate__zoomInLeft">
          </div>
        </ng-template>
      </div>

      <div class="modal-overlay" *ngIf="isWishListModalOpen">
        <div class="modal-window">
          <span class="close-btn" (click)="closeWishListModal()">&times;</span>
        </div>

      </div>
    </div>
    <button *ngIf="userRole === 'ADMIN'" (click)="closeCommunity()">Chiudi community</button>
    <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</p>


  </div>

</div>
</body>

