body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, button, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Afacad Flux, sans-serif;
  background-color: #00664e;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

