
.home-container {
  padding: 5px;
  /*display: flex;*/
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 800px;
  /* Posiziona gli elementi agli estremi */
  align-items: normal;
  width: 100%;
  margin-bottom: 2px;
}

.profile-info {
  display: flex;
  align-items: center; /* Allinea il contenuto al centro */
  cursor: pointer;
  position: relative; /* Necessario per il posizionamento del menu a tendina */
  margin-left: auto; /* Spinge l'icona del profilo a destra */
}

.profile-img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-gift-container {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-right: auto; /* Spinge il logo a sinistra */
}

.logo-img {
  height: 105px;
}

.gift-img {
  height: 90px;
}

.dropdown-menu {
  position: absolute; /* Cambiato da fixed a absolute */
  top: 100%; /* Posiziona il menu subito sotto l'immagine del profilo */
  right: 0; /* Allinea il menu a sinistra rispetto al contenitore relativo */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  list-style: none;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.main-content {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.card {
  flex-direction: column;

  width: 20px; /* Cambia la larghezza della card */
  padding: 20px; /* Modifica il padding se necessario */

}


.card input, .card textarea, .card button {
  width: 100%; /* Rendi gli input e i pulsanti larghi quanto la card */
  margin-bottom: 10px; /* Spazio tra gli elementi */
}


.main-content {
  justify-content: space-between;
  gap: 80px; /* Spazio tra le card orizzontalmente */
  margin-top: 20px;
  width: 100%;
}





